/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 2, 2017, 5:00:16 PM
    Author     : Cory Buck cbuck@verilex.software
*/

#banner{

}

#banner_content{
    z-index: 99;
}

#banner_title{
    color: orange;
    margin-left:50px;
}

#banner_nav_options{
    padding:0;
    margin:0;
    list-style:none;
    margin-top:15px;
}

.nav-active{
    box-shadow: 0px 0px 5px rgba(255,165,0,.7);
}

#nav_toggle{
    display:none;
    float:right;
    margin-top:15px;
}

@media screen and (max-width: 750px){

    #banner_title{
        margin-left:25px;
    }

    #banner_nav_options{
        display:none;
        position:absolute;
        right: 15px;
        top: 45px;
        width:100px;
        z-index: 99;
    }

    #banner_nav_options:hover{
        display:block;
    }

    #banner_nav_options li:hover{
        cursor:pointer;
    }

    #banner_nav_options li{
        display:block;
        width:100%;
    }

    #nav_toggle{
        display:block;
    }

    #nav_toggle:focus + ul{
        display:block;
    }
}



#banner_image{
    height:75px;
    background-image: url("../image/cs_wallpaper.jpg");
    background-repeat : no-repeat;
    background-size : cover;
    background-position-y: -250px;
    border-radius: 7px;
}
